body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: black; 
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
}

.center {
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

h2 { text-align: center;
    margin-bottom: 50px;
}

footer img {   
    width: 40px;
    height: 40px;
}

footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 3px;
}

main section{
    margin-top: 30px;
    margin-bottom: 50px;
}

.container {
    padding: 0px 50px;
}

body ul a {
    font-size: 20px;
}

nav a:hover {
    color: black;
}

footer p:hover{
    color: black;
}

.list {
    color: blue;
}

.list1 {
    color: red;
}